.container-superheros {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-superhero {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
